*{
	color: white;
	background-color:black;
}
table{
	border: 1px white solid;
	border-bottom: 0px solid white;
	min-width: 3000px;
}

*{
	font-family: sans-serif;
}
th{
	background-color:#aaa;
	color: black;
}
td{
	border-bottom:1px solid white;
	border-right: 1px solid white;
	max-height: 30px;
}
tr.head{
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	background-color: rgba(125,255,125,0.3);
}
tr.head th{
	border-bottom: 2px solid white;
	border-right: 2px solid white;
}
