.clickable {
    cursor: pointer;
}

.panel-primary .panel-heading {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}
.panel-heading {
    padding: 10px 15px;
    height: 40px;
    font-size: 18px;
    margin-top: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.panel-title{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
}
.panel-body {
    padding: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #428bca;
}
.panel-primary {
    border-color: #428bca;
}

.panel .panel-body {
    display: none;
}
